@model FileUploadViewModel
@{
    ViewData["Title"] = "Upload File";
}

<div class="text-center">
    <h1 class="display-4">File to upload:</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form enctype="multipart/form-data" method="post" asp-controller="Home" asp-action="Index">
        <input asp-for="FileInfo">
        <input class="btn" type="submit" value="Upload" />
    </form>
</div>
